.DS_Store
.env
.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

data/raw/
data/lake/
data/warehouse/
data/exports/
data/stream/
logs/
airflow/logs/
airflow/plugins/
dbt/**/.user.yml
dbt/**/target/
dbt/**/logs/

*.duckdb
*.sqlite
*.parquet
*.csv
*.jsonl
*.log
!assets/screenshots/.gitkeep
!data/.gitkeep
